body{
    font-family: 'Poppins', sans-serif;
}
.suc-text-color{
    color: #4A4A4A;
}
.register-text-color{
    color: #289BDE;
}
.outline-color{
    border-color: #289BDE;
}

.established-text{
    color:#777777;
  
}


/* ---------------------stackover flow */
.cover {
    
    filter: brightness(20%);
    filter:brightness(20%)
}

.price{
    color: #289BDE;
}
 .bold-course{
    color: #4A4A4A;
 }
 .btn-color{
    background-color: #289BDE; 
 }

